{% include base_path %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Center Text in Paragraph</title>
  <style>
    .main-title {
      text-align: center;
      font-weight: bold;
      font-size: 36px; /* Adjust font size as needed */
      font-family: 'Arial', sans-serif; /* Adjust font family as needed */
      color: #333; /* Adjust text color as needed */
      margin-top: 20px; /* Adjust top margin as needed */
    }
  </style>
</head>
<body>
  <p class="main-title">Welcome to My Blog</p>
</body>
</html>



<!--
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>




        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/" style="display: block; text-align: center;">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}" style="display: block; text-align: center;">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>



      </nav>
    </div>
  </div>
</div>

-->